/* =========================================================================
   ESTILOS: ETIQUETA BLANCA (CANADA ENERGUIDE)
   ========================================================================= */

.printP {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 100vh;
    margin-bottom: 10px;
}

.canada-container {
    width: 5.25in;
    height: 7.125in;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.cc1 {
    margin-left: 5px;
}

.cc2 {
    margin-right: 5px;
}

.page-blanca .label {
    width: 5.25in;
    height: 7.125in;
    background: white;
    border: 1px solid #000;
    padding: 1.5px;
    position: relative;
    overflow: hidden;
}

.canada {
    border: 1px solid black;
    padding-left: 0.16in;
    padding-right: 0.16in;
    padding-top: 0.19in;
    height: 6.05in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country {
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    font-family: "Times New Roman", serif;
}

.energuide-box {
    background: #000;
    color: white;
    margin: 10px auto 20px;
    padding: 18px 25px;
    text-align: center;
}

.energuide {
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 2px;
}

    .energuide .g {
        display: inline-block;
        border: 8px solid #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        line-height: 54px;
        text-align: center;
        margin: 0 5px;
        position: relative;
        top: 8px;
    }

.sub-title {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0.15in;
    margin-bottom: 0.20in;
    margin-left: 0.15in;
}

.consumption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
    margin-bottom: 2px;
    padding-left: 10%;
    width: 100%;
}

.consumption .value {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    font-family: Arial;
    height: stretch;
}

.consumption .unit {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 0.1in;
    padding-left: 2.8%;
}

.consumption .unit p {
    display: block;
    font-size: 16.7px;
    margin: 0;
    font-weight: bold;
}

.this-model {
    margin-bottom: 0.2in;
    margin-left: 0.05in;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.02in;
    transform: scaleX(0.90); 
    display: inline-block;
}

.model-arrow {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
}

.arrow {
    width: 0.19in;
    height: 0.19in;
    border-left: 0.12in solid transparent;
    border-right: 0.12in solid transparent;
    border-top: 0.18in solid #000;
}

.scale {
    margin-bottom: 0.15in;
    box-shadow: inset 3px 20px 0 0 black, inset -3px 20px 0 0 black;
    padding-inline: 3px;
    width: 100%;
}

.bar {
    height: 0.25in;
    background: linear-gradient(to right,#f3f3f3,#111);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    width: 100%;
}

.scale-values {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.energy-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.15in;
    font-weight: bold;
    font-size: 15px;
}

.type-section {
    text-align: center;
    margin-bottom: 0.15in;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

    .type-section .type {
        font-size: 50px;
        font-weight: bold;
    }

    .type-section .volume {
        width: 80%;
        font-weight: bold;
        font-size: 16px;
    }

.model {
    text-align: center;
    margin-bottom: 0.12in;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: end;
    width: 100%;
}

    .model .label-title {
        font-size: 14px;
    }

    .model .number {
        font-size: 24px;
        font-weight: bold;
        margin-top: 4px;
    }

.warning {
    text-align: center;
    font-size: 9px;
    margin-top: 3px;
}

.bottom {
    display: flex;
    align-items: center;
}

.bottom-text {
    flex: 1;
    font-size: 8.5px;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 2px;
}

.bottom-section {
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* =========================================================================
   CONFIGURACIÓN MEDIAS DE IMPRESIÓN (PRINT) - CANADÁ
   ========================================================================= */
@media print {
    .printP {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        height: 100vh;
    }
    .canada-container {
        width: 5.25in !important;
        height: 7.125in !important;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-family: 'Arial', sans-serif;
        margin-bottom: 10px;
    }
}